/*@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}*/

.module {
  /*width: 300px;*/
  width: 100%;
  margin: 0px auto;
}

/*.module .ui.input {
  margin-bottom: 3px;
}*/

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-right: -3px;
  margin-left: -3px;
}
.top-bar h1 {
  display: inline;
  font-size: 1.1rem;
}
.top-bar .typicons-message {
  display: inline-block;
  padding: 4px 5px 2px 5px;
}
.top-bar .typicons-minus {
  position: relative;
  top: 3px;
}
.top-bar .left {
  float: left;
}
.top-bar .right {
  float: right;
  padding-top: 5px;
}
.top-bar > * {
  position: relative;
}
.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
}
.top-bar.unread::before {
  -webkit-animation: pulse 1s ease alternate infinite;
  animation: pulse 1s ease alternate infinite;
}
.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 20px 0;
  /*min-height: 400px;*/
  max-height: 87vh;
  /*max-height: 80%;*/
  overflow-x: hidden;
  overflow-y: visible;
  margin-right: -3px;
  margin-left: -3px;
  margin-bottom: 2px;
}
/*@media only screen and (min-height: 480px) {
  .discussion {
    height: 420px;
  }
}
@media only screen and (min-height: 680px) {
  .discussion {
    height: 620px;
  }
}
@media only screen and (min-height: 800px) {
  .discussion {
    height: 740px;
  }
}
@media only screen and (min-height: 1200px) {
  .discussion {
    height: 1170px;
  }
}*/

.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.discussion .avatar {
  width: 40px;
  min-width: 40px;
  position: relative;
}
.discussion .avatar img {
  display: block;
  width: 100%;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  -webkit-justify-content: flex-end;
  -webkit-align-items: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar {
  -webkit-order: 2;
  order: 2;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
time {
  font-size: 1rem;
  /*font-family: 'HelveticaNeue-UltraLight';*/
  /*font-weight: bold;*/
  color: #ccc;
}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.footer {
  /*height: 40px;*/
  /*position: fixed;*/
  /*bottom: 0px;*/
  width: 100% !important;
  /*margin-bottom: 0px !important;*/
}