@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../font/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../font/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans S Chinese';
  /*font-style: normal;*/
  /*font-weight: 400;*/
  src: url(../font/NotoSansSChinese-hinted/NotoSansHans-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans S Chinese';
  /*font-style: normal;*/
  font-weight: bold;
  src: url(../font/NotoSansSChinese-hinted/NotoSansHans-Medium.otf) format('opentype');
}

/*
  EmojiSymbols Font (c)blockworks - Kenichi Kaneko
  http://emojisymbols.com/
  */
@font-face {
  font-family: "EmojiSymbols";
  src: url('../font/emoji/EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}
.emj {
  font-family: "EmojiSymbols";
  line-height: 1;
  font-size: 4em;
  color: black;
}