doctype html
html
	head
		title=title
	body
		h2 Hello world
		ul
			li
				a(href='/auth/weibo') weibo
			li
				a(href='/auth/facebook') facebook
			li
				a(href='/auth/twitter', target='_blank') twitter
			li
				a(href='/auth/google') google
			li
				a(href='/app') Go to app